SET 'auto.offset.reset' = 'earliest';

CREATE OR REPLACE STREAM users (
    id INT,
    username STRING,
    email STRING
) WITH (
    KAFKA_TOPIC='{{ topic }}',
    VALUE_FORMAT='JSON',
    PARTITIONS=1
);