[Unit]
Description=redpanda

[Service]
User=root
WorkingDirectory=/opt/redpanda/bin/
ExecStart=/opt/redpanda/bin/redpanda --redpanda-cfg /opt/redpanda/conf/redpanda.yaml
Restart=always

[Install]
WantedBy=multi-user.target
